$grid-breakpoints: (
        sm: 0px,
        md: 868px,
        lg: 1249px
);

$primary: #6ABF0B;
$secondary: #0BBFBA;

@import '~primereact/resources/themes/bootstrap4-light-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import "../node_modules/bootstrap/scss/bootstrap";

